<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map screen</title>
</head>
<body>
    <div class="bg-black">
    
        <div class="container navigation">
            <div class="row py-2 d-flex align-items-center">
                <div class="col-3 d-flex">
                    <div class="w-100 border-end border-white">
                        <a href="../pages/map.html"><img src="../images/pin.svg" class="w-50 px-half"/></a>
                    </div>
                    <div class="w-100 border-end border-white">
                        <a href="../pages/moisture.html"><img src="../images/waterdrop.svg" class="w-50 px-half"/></a>
                    </div>
                    <div class="w-100">
                        <a href="../pages/weather.html"> <img src="../images/sun.svg" class="w-50 px-half"/></a>
                    </div>
                </div>
                <div class="col-7">
                    <h1>Choose your crops for field 1 <span class="text-field">(F1)</span></h1>
                </div>
                <div class="col-1 d-flex">
                    <div class="w-100">
                        <a href="../pages/settings.html"><img src="../images/settings.svg" class="w-50 px-half"/></a>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</body>
</html>