<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bachelorarbeit</title>
    <link rel="shortcut icon" type="image/jpg" href="../images//sun.svg"/>
</head>
<body>

    <div class="bg-black">
    
        <div class="container navigation">
            <div class="row py-3 d-flex align-items-center">
                <div class="col-2 col-md-3 d-md-flex align-items-center">
                    <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                        <a href="../pages/map.html"><img src="../images/pin.svg" class="px-half"/></a>
                    </div>
                    <div class="w-100 border-end border-white py-1 py-md-0">
                        <a href="../pages/moisture.html"><img src="../images/waterdrop.svg" class="px-half"/></a>
                    </div>
                    <div class="w-100 py-1 py-md-0 inactive">
                        <a href="../pages/weather.html"> <img src="../images/sun.svg" class="px-half sun"/></a>
                    </div>
                </div>
                <div class="col-8 col-md-7 d-flex justify-content-center">
                    <h1>Soil moisture</h1>&nbsp;&nbsp;&nbsp;
                    <img src="../images/waterdrop.svg" width="40"/>
                </div>
                <div class="col-2 col-md-1">
                    <div class="w-100">
                        <a href="/"><img src="../images/settings.svg" class="px-half settings"/></a>
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <div class="grass">
        <img src="../images/moisture/grass.svg"/>
    </div>

    <div class=" moisture-container">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-5 col-12">
                    <div class="map-direct-view rounded p-4">
                        <div class="axis" id="axis_x-3">
                            <!--BLUE-->
                            <div onclick="showMoistureLevel(6.1, 1.3, '#287dc8')" class="dot" style="--x: 6.1; --y: 1.3; --dcolor: #287dc8"></div>
                            <div onclick="showMoistureLevel(12.3, 2, '#287dc8')" class="dot" style="--x: 12.3; --y: 2; --dcolor: #287dc8"></div>
                            <!--GREEN-->
                            <div onclick="showMoistureLevel(3, 4.2, '#2e9800')" class="dot" style="--x: 3; --y: 4.2; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(6.2, 3.8, '#2e9800')" class="dot" style="--x: 6.2; --y: 3.8; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(10.9, 4.2, '#2e9800')" class="dot" style="--x: 10.9; --y: 4.2; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(11.7, 8.3, '#2e9800')" class="dot" style="--x: 11.7; --y: 8.3; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(13.3, 7.0, '#2e9800')" class="dot" style="--x: 13.3; --y: 7.0; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(3, 11.9, '#2e9800')" class="dot" style="--x: 3; --y: 11.9; --dcolor: #2e9800"></div>
                            <div onclick="showMoistureLevel(2, 11.5, '#2e9800')" class="dot" style="--x: 2; --y: 11.5; --dcolor: #2e9800"></div>
                            <!--ORANGE-->
                            <div onclick="showMoistureLevel(5.1, 7.3, '#fd7e14')" class="dot" style="--x: 5.1; --y: 7.3; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(7.1, 6.9, '#fd7e14')" class="dot" style="--x: 7.1; --y: 6.9; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(10.3, 7.3, '#fd7e14')" class="dot" style="--x: 10.3; --y: 7.3; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(10.9, 10.1, '#fd7e14')" class="dot" style="--x: 10.9; --y: 10.1; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(9.4, 10.6, '#fd7e14')" class="dot" style="--x: 9.4; --y: 10.6; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(6.9, 10.6, '#fd7e14')" class="dot" style="--x: 6.9; --y: 10.6; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(9.9, 12.1, '#fd7e14')" class="dot" style="--x: 9.9; --y: 12.1; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(5.1, 12.9, '#fd7e14')" class="dot" style="--x: 5.1; --y: 12.9; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(2.7, 17.1, '#fd7e14')" class="dot" style="--x: 2.7; --y: 17.1; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(1.3, 17.9, '#fd7e14')" class="dot" style="--x: 1.3; --y: 17.9; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(11.5, 17.2, '#fd7e14')" class="dot" style="--x: 11.5; --y: 17.2; --dcolor: #fd7e14"></div>
                            <div onclick="showMoistureLevel(9.9, 18.5, '#fd7e14')" class="dot" style="--x: 9.9; --y: 18.5; --dcolor: #fd7e14"></div>
                            <!--ROT-->
                            <div onclick="showMoistureLevel(6.9, 13.1, '#e6001e')" class="dot" style="--x: 6.9; --y: 13.1; --dcolor: #e6001e"></div>
                            <div onclick="showMoistureLevel(6.9, 14.8, '#e6001e')" class="dot" style="--x: 6.9; --y: 14.8; --dcolor: #e6001e"></div>
                            <div onclick="showMoistureLevel(9.9, 14.8, '#e6001e')" class="dot" style="--x: 9.9; --y: 14.8; --dcolor: #e6001e"></div>
                            <div onclick="showMoistureLevel(4.8, 16.4, '#e6001e')" class="dot" style="--x: 4.8; --y: 16.4; --dcolor: #e6001e"></div>
                            <div onclick="showMoistureLevel(9.1, 16.9, '#e6001e')" class="dot" style="--x: 9.1; --y: 16.9; --dcolor: #e6001e"></div>
                            <div onclick="showMoistureLevel(10.8, 16.4, '#e6001e')" class="dot" style="--x: 10.8; --y: 16.4; --dcolor: #e6001e"></div>
                        </div>
                        <img src="../images/moisture/map-direct-view.svg"/>
                    </div>
                </div>
                <div class="col-md-7 col-12">
                    <div class="container waterdrop-container px-0 mt-4">
                        <div class="row">
                            <div class="d-flex justify-content-around" id="level1">
                                <img src="../images/waterdrop.svg"/>
                                <img src="../images/waterdrop.svg"/>
                                <img src="../images/waterdrop.svg"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-around" id="level2">
                                <img src="../images/waterdrop.svg"/>
                                <img src="../images/waterdrop.svg"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-around" id="level3">
                                <img src="../images/waterdrop.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      
</body>

</html>