<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="shortcut icon" type="image/jpg" href="../images/sun.svg"/>
</head>
<body class="bg-yellow">
    <div class="bg-black">
    
        <div class="container navigation">
            <div class="row py-3 d-flex align-items-center">
                <div class="col-2 d-md-flex align-items-center">
                    <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                        <a href="../pages/map.html"><img src="../images/pin.svg" class="px-half"/></a>
                    </div>
                    <div class="w-100 py-1 py-md-0">
                        <a href="../pages/weather.html"> <img src="../images/sun.svg" class="px-half sun"/></a>
                    </div>
                </div>
                <div class="col-8 d-flex justify-content-center">
                    <h1>Weather</h1>&nbsp;&nbsp;&nbsp;
                    <img src="../images/sun.svg" width="60"/>
                </div>
                <div class="col-2 col-md-1">
                    <div class="w-100">
                        <a href="/"><img src="../images/settings.svg" class="px-half settings"/></a>
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <div class="container h-80 pt-5">
        <div class="row align-items-center h-100 mt-5">
            <div class="col-md-6 col-12 h-100 pt-3">
                <div class="d-flex justify-content-center flex-column weather-sun-box">
                    <img src="../images/weather/weather-sun.svg" class="mx-auto"/>
                    <div class="border rounded bg-white h-100">
                        <h2 class="primary text-center pt-4 mt-5 mb-4 pb-4 pb-0 font-weight-bold">Today</h2>
                        <div class="d-flex justify-content-center">
                            <img src="../images/weather/watering.svg" width="175" class="watering">
                        </div>
                        <h3 class="primary mt-5 pt-5 mb-5 text-center font-weight-bold">20°C</h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-12 h-100">
                <div class="container next-days p-0">
                    <!--Day 2-->
                    <div class="row">
                        <div class="col-12 mt-0 mt-md-5 pt-0 pt-md-5">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Tomorrow</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-sun.svg" class="weather forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">26°C</p>   
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watering.svg" class="watering"/>
                                            <div class="p-2 bg-dark info-watering">
                                                <p class="white-text fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                  </svg> water the plants</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 3-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Wednesday</p>
                                <div class="forecast">
                                    <img src="../images/weather/sun-and-cloud.svg" class="cloudy forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">27°C</p>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 4-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Thursday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-rain.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">19°C</p>   
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                            <div class="p-2 bg-dark info-cistern">
                                                <p class="white-text fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                  </svg> catch rainwater</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 5-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Friday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-rain.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">18°C</p>   
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                            <div class="p-2 bg-dark info-cistern">
                                                <p class="white-text fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                  </svg> catch rainwater</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 6-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Saturday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-thunderstorm.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">19°C</p>   
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                            <div class="p-2 bg-dark info-cistern">
                                                <p class="white-text fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                  </svg> catch rainwater</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 7-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-2 day">Sunday</p>
                                <div class="forecast">
                                    <img src="../images/weather/sun-and-cloud.svg" class="cloudy forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <p class="mt-2 mb-0 font-weight-bold">20°C</p>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>