<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="shortcut icon" type="image/jpg" href="../images//sun.svg"/>
</head>
<body>
    <div class="bg-black">
    
        <div class="container navigation">
            <div class="row py-3 d-flex align-items-center">
                <div class="col-2 col-md-3 d-md-flex align-items-center">
                    <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                        <a href="../pages/map.html"><img src="../images/pin.svg" class="px-half"/></a>
                    </div>
                    <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                        <a href="../pages/moisture.html"><img src="../images/waterdrop.svg" class="px-half"/></a>
                    </div>
                    <div class="w-100 py-1 py-md-0">
                        <a href="../pages/weather.html"> <img src="../images/sun.svg" class="px-half sun"/></a>
                    </div>
                </div>
                <div class="col-8 col-md-7 d-flex justify-content-center">
                    <h1>Weather</h1>&nbsp;&nbsp;&nbsp;
                    <img src="../images/weather/sun-and-cloud.svg" width="60"/>
                </div>
                <div class="col-2 col-md-1">
                    <div class="w-100">
                        <a href="/"><img src="../images/settings.svg" class="px-half settings"/></a>
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="row align-items-center h-100 mt-5">
            <div class="col-md-6 col-12 h-100">
                <div class="d-flex justify-content-center flex-column weather-sun-box">
                    <img src="../images/weather/weather-sun.svg" class="mx-auto"/>
                    <div class="border rounded bg-white h-100">
                        <h2 class="primary text-center pt-5 mt-5 pb-0 font-weight-bold">Today</h2>
                        <div class="container px-5 today-dislpay-box">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="../images/weather/no-rain.svg"/>
                                </div>
                                <div class="col-2">
                                    <img src="../images/arrow/arrow-yellow.svg" class="px-3"/>
                                </div>
                                <div class="col-6">
                                    <img src="../images/weather/watering.svg">
                                </div>
                            </div>
                        </div>
                        <h3 class="primary mt-5 pt-5 text-center font-weight-bold">20 days no rain!</h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-12 h-100">
                <div class="container next-days p-0">
                    <!--Day 2-->
                    <div class="row">
                        <div class="col-12 mt-0 mt-md-5 pt-0 pt-md-5">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Tomorrow</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-sun.svg" class="weather forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/no-rain.svg" class="rain-pred"/>
                                        </div>
                                        <div class="col-2 mt-2">
                                            <img src="../images/arrow/arrow-yellow.svg" class="arrow"/>
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watering.svg" class="watering"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 3-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Wednesday</p>
                                <div class="forecast">
                                    <img src="../images/weather/sun-and-cloud.svg" class="cloudy forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/no-rain.svg" class="rain-pred"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 4-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Thursday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-rain.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/rain.svg" class="rain-pred"/>
                                        </div>
                                        <div class="col-2 mt-2">
                                            <img src="../images/arrow/arrow-yellow.svg" class="arrow"/>
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 5-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Friday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-rain.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/rain.svg" class="rain-pred"/>
                                        </div>
                                        <div class="col-2 mt-2">
                                            <img src="../images/arrow/arrow-yellow.svg" class="arrow"/>
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 6-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Saturday</p>
                                <div class="forecast">
                                    <img src="../images/weather/weather-thunderstorm.svg" class="rain forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/rain.svg" class="rain-pred"/>
                                        </div>
                                        <div class="col-2 mt-2">
                                            <img src="../images/arrow/arrow-yellow.svg" class="arrow"/>
                                        </div>
                                        <div class="col-4">
                                            <img src="../images/weather/watercistern.svg" class="cistern"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Day 7-->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex bg-white px-2 py-1 border rounded weather-next-day">
                                <p class="primary font-weight-bold mt-1 day">Sunday</p>
                                <div class="forecast">
                                    <img src="../images/weather/sun-and-cloud.svg" class="cloudy forecast"/>
                                </div>
                                <div class="container w-100">
                                    <div class="row">
                                        <div class="col-5 text-center">
                                            <img src="../images/weather/no-rain.svg" class="rain-pred"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>