@use "variables";

.btn-primary{
    background-color: variables.$light-green;
    border-color: variables.$light-green;
    width: 40%;
    &:hover, &:focus, &:active{
        background-color: variables.$primary;
        border-color: variables.$primary;    
    }
}

.btn-secondary{
    background-color: variables.$red;
    border-color: variables.$red;
    width: 40%;
    &:hover, &:focus, &:active{
        background-color: variables.$red;
        border-color: variables.$red;    
    }
}

.fs-25{
    font-size: 25px;
    line-height: 23px;
}