@use "variables";

.moisture-container{
    background-image: url("../images/moisture/soil.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
}

.grass{
    background-color: variables.$light-blue;
    margin: 0 -15px -25px -15px;
    width: 1950px;
}

.map-direct-view{
    background-color: rgba(0,0,0,0.5);
    position: relative;
    width: 450px;
    .active{
        border: 5px solid #fff;
        padding: 7px
    }
    img {
        height: 400px
    }
    .legende-drop1, .legende-drop2, .legende-drop3, .legende-drop4{
        height: 19px; 
        position: absolute; 
        top: -3px
    }
    .legende-drop1{
        left: 22px;
    }

    .legende-drop2{
        left: 40px;
    }

    .legende-drop3{
        left: 58px;
    }

    .legende-drop4{
        left: 76px;
    }
}

.waterdrop-container{
    & img {
        width: 100px;
    }
    .row{
        margin: 0 0 18% 0;
    }
    .no-rain{
        width: 140px;
    }
}