.navigation {
    & p {
        color: white;
    }
    .px-half{
        padding-right: 25%;
        padding-left: 25%;
        width:100%;
    }
    .settings, .sun{
        width: 120%;
    }
}

.changeFieldNumber{
    padding: 7px;
    background-color: white;
    border-radius: 50%;
}