@use "variables";
.bg-yellow{
    background-color: variables.$green;

.weather-sun-box{
    height: 70%;
    & img {
        margin-bottom: -50px;
        width: 30%;
        position: relative;
        z-index: 20;
    }
    .today-dislpay-box{
        img {
            width: 100%;
        }
    }
}

.next-days{
    .day {
        width: 250px    
    }
    .weather-next-day{
        height: 54px;
        .forecast {
            width: 75px;
        }
        .rain-pred {
            width: 45px;
        }
        .weather{
            margin-top: -25px;
            padding: 0 20px;
            width: 95px;
        }
        .cloudy{
            margin-top: -25px;
            padding: 0 20px;
            width: 105px;
        }
        img {
            width: 40px;
        }
        .arrow{
            width: 10px;
        }
        .watering, .rain{
            width: 75px;    
            margin-top: -15px;
        }
        .cistern{
            width: 70px;    
        }
    }
}

.pt-15{
    padding-top: 15%;
}


.weather-container-height{
    height: 100%;
}

@media (max-width: 768px) {
    .pt-15{
        padding-top: 0;
        margin-top: 0;;
    }
    .weather-container-height{
        height: 70%;
    }
}

}