<div class="bg-black">
    
    <div class="container navigation">
        <div class="row py-3 d-flex align-items-center">
            <div class="col-2 col-md-3 d-md-flex align-items-center">
                <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                    <a href="pages/map.html"><img src="images/pin.svg" class="px-half"/></a>
                </div>
                <div class="w-100 border-end border-white py-1 py-md-0 inactive">
                    <a href="pages/moisture.html"><img src="images/waterdrop.svg" class="px-half"/></a>
                </div>
                <div class="w-100 py-1 py-md-0 inactive">
                    <a href="pages/weather.html"> <img src="images/sun.svg" class="px-half sun"/></a>
                </div>
            </div>
            <div class="col-8 col-md-7">
                <h1>Choose your crops for field <span class="changeFieldNumber">1</span> <span class="red changeFieldNumber">(F1)</span></h1>
            </div>
            <div class="col-2 col-md-1">
                <div class="w-100">
                    <a href="/"><img src="images/settings.svg" class="px-half settings"/></a>
                </div>              
            </div>
        </div>
    </div>
</div>